<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            后台管理系统
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/static/css/x-admin.css" media="all">
    </head>
    
    <body>
        <div class="x-body">
            <blockquote class="layui-elem-quote">
                <img src="/static/images/adminlogo.png" class="layui-circle" style="width:50px;float:left;">
                <dl style="margin-left:80px; color:#019688">
                    <dt><span>哈喽，</span> <span></span></dt>
                <dd style="margin-left:0">你要悄悄努力然后惊艳所有人！</dd>
              </dl>
            </blockquote>
            <div class="pd-20">
              <form class="layui-form x-center" method="post"  action="/adminuser/admininfo" >
                  {% csrf_token %}
                <div class="layui-form-pane" style="margin-top: 15px;">
                  <div class="layui-form-item" style="width:400px;height:150px;">
                      <div style="width:400px;height:30px;">
                            <label class="layui-form-label">用户名称</label>
                            <div class="layui-input-inline" style="width:200px">
                            <input type="text" name="name" value="{{ adminname }}"  autocomplete="off" class="layui-input">
                          </div>
                      </div>
                      <div style="width:400px;height:30px;padding-top:20px;">
                          <label class="layui-form-label">登录密码</label>
                          <div class="layui-input-inline" style="width:200px">
                            <input type="text" name="pwd" value="{{ adminpassword }}" autocomplete="off" class="layui-input">
                          </div>
                      </div>
                    <div style="width:400px;height:30px;padding-top:20px;">
                        <button style="margin-right:0px;" type="submit" class="layui-btn">修改</button>
                        <button style="margin-right:80px;" type="reset" class="layui-btn">重置</button>
                    </div>
                  </div>
                </div>
            </form>
            </div>
        </div>
        <script src="/static/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="/static/js/x-layui.js" charset="utf-8">
        </script>
        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;
            
              //自定义验证规则
              form.verify({
                nikename: function(value){
                  if(value.length < 5){
                    return '昵称至少得5个字符啊';
                  }
                }
                ,pass: [/(.+){6,12}$/, '密码必须6到12位']
                ,repass: function(value){
                    if($('#L_pass').val()!=$('#L_repass').val()){
                        return '两次密码不一致';
                    }
                }
              });

              console.log(parent);
              //监听提交
              form.on('submit(add)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                layer.alert("增加成功", {icon: 6},function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                });
                return false;
              });
              
              
            });
        </script>
        
    </body>

</html>