<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>煤矿知识库问答登录</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.png"/>

    <!-- Bundle Styles -->
    <link rel="stylesheet" href="/static/css/bundle.css">

    <!-- App styles -->
    <link rel="stylesheet" href="/static/css/app.min.css">
</head>
<body class="form-membership">

<div class="form-wrapper">

    <!-- logo -->
    <div class="logo">
        <img src="/static/images/small-logo.png" alt="logo">
    </div>
    <!-- ./ logo -->

    <h5>煤矿行业智能问答系统登录</h5>

    <!-- form -->
    <form method="post" action="/adminuser/adminlogin">
        {% csrf_token %} <!--post提交时，加上一个安全防护 -->
        <div class="form-group">
            <input type="text" name="adminname" class="form-control" value="{{ username }}" placeholder="用户名" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" name="adminpassword" class="form-control" value="{{ password }}" placeholder="密码" required>
        </div>
        <div class="form-group d-flex justify-content-between">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="remeber" {{ checked }} id="customCheck1">
                <label class="custom-control-label" for="customCheck1">记住用户名</label>
            </div>
            <a href="./reset-password.html">重置密码</a>
        </div>
        <button class="btn btn-primary btn-block">登录</button>
        <hr>

    </form>
    <!-- ./ form -->
    {{ errmsg }}
</div>

<!-- Bundle -->
<script src="/static/js/bundle.js"></script>

<!-- App scripts -->
<script src="/static/js/app.min.js"></script>
</body>
</html>