<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roba - Chat and Discussion Platform</title>

    <!-- Favicon -->
    <link rel="icon" href="./dist/media/img/favicon.png" type="image/png">

    <!-- Bundle Styles -->
    <link rel="stylesheet" href="./vendor/bundle.css">

    <!-- App styles -->
    <link rel="stylesheet" href="./dist/css/app.min.css">
</head>
<body class="form-membership">

<div class="form-wrapper">

    <!-- logo -->
    <div class="logo">
        <img src="dist/media/img/small-logo.png" alt="logo">
    </div>
    <!-- ./ logo -->

    <h5>重置密码</h5>

    <!-- form -->
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="邮箱" required autofocus>
        </div>
        <button class="btn btn-primary btn-block">提交</button>
        <hr>
        <a href="./register.html" class="btn btn-sm btn-outline-light mr-1">注册!</a>
        or
        <a href="./login.html" class="btn btn-sm btn-outline-light ml-1">登录!</a>
    </form>
    <!-- ./ form -->

</div>

<!-- Bundle -->
<script src="./vendor/bundle.js"></script>

<!-- App scripts -->
<script src="./dist/js/app.min.js"></script>
</body>
</html>